.featured-post {
  height: 160px;
  margin: 5px 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden; /* чтобы не вылезал ::after */
}
.featured-post::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%; /* покрываем всю высоту */
  background: linear-gradient(to top,
    rgba(0, 0, 0, 0.9) 20%,    /* насыщенное затемнение внизу */
    rgba(0, 0, 0, 0.7) 50%,   /* плавный переход вверх */
    rgba(0, 0, 0, 0.3) 80%,   /* почти прозрачно */
    rgba(0, 0, 0, 0) 100%     /* полностью прозрачный верх */
  );
  z-index: 1;
  pointer-events: none;
}

.featured-post h2 {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 10px;
  z-index: 2; /* Поверх градиента */
}

.featured-post h2 span {
  display: inline-block;
  color: white;
  font: bold 18px/24px Helvetica, Sans-Serif;
  letter-spacing: -0.5px;
  padding: 0px;
  background: none; /* Убираем подложку */

}
.featured-post span a {
  color: white;
}
.featured-post h1 {
  margin: 10px;
}

/*
  Pagination
*/

.pagination {
  text-align: center;
}
.pagination a {
  text-decoration: none;
}
.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
.pagination-active {
  color: black;
}
.pagination-active:hover {
  background-color: #e0e0e0;
}
/* --- Dark Theme Fixes --- */
[data-theme="dark"] .pagination-button {
  border-color: #444; /* серый вместо белого */
  color: #ccc;
  background-color: #111;
}

[data-theme="dark"] .pagination-button:hover {
  background-color: #222;
}

[data-theme="dark"] .pagination-active {
  color: white;
}

[data-theme="dark"] .dropdown-content,
[data-theme="dark"] .dropbtn {
  background-color: #222;
  color: white;
}

[data-theme="dark"] .dropdown-content a {
  color: white;
}

[data-theme="dark"] .dropdown-content a:hover {
  background-color: #333;
}
.content-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}
[data-theme="dark"] .footer-description {
  background-color: #1a1a1a;
  color: #ccc;
}
